/* .chessboard{
    background-color: #779556;
    width: 640px;
    height: 640px;
    display: grid;
}

.chessboard-row{
    display: flex;
} */


#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    width: 640px;
    height: 640px;
    background-color: #779556;
}





